<%= form_for(current_user, :url => aboutme_update_useradmin_users_path) do |f| %>
<h4>編輯帳戶資訊</h4>
<%= f.text_area :accountinfo, :rows => 5 %>
<p>
	帳戶資訊將在交易成立時隨email提供給買家。<br>
	帳戶資訊範本：<br>
	XX銀行XX分行 / 帳號：000000000000<br>
	戶名：XXX
</p>

<h4>編輯關於我</h4>


<%= f.hidden_field :aboutme %>
<% end %>

<div id="editorPanel"></div>

<hr />

<!--show the content of article -->
<section id="articleContent"></section>

<hr />

<div class="action" id="submit">
  <a href="#">儲存</a>
</div>

<script type="text/javascript">
$(document).ready(function(){
	editor.init({articleModel: "user", articleAttr: "aboutme", photoModel:"aboutmeimg"});

	$("#submit").click(function(e){
		e.preventDefault();

		if(!editor.isPostNotSent()){
			$("#edit_user_<%= current_user.id %>").submit();
		}
		else{
			editor.alert("段落編輯尚未完成。", "error");
		}
		
	});
});
</script>