<h1>編輯商品</h1>

<%= form_for(@product, :url => useradmin_product_path(@product)) do |f| %>
<%= render :partial => 'form', :locals => { :f => f} %>
<% end %>

<%= link_to "取消編輯", useradmin_product_path(@product) %>