<h1>New product</h1>

<%= form_for(@product, :url => useradmin_products_path) do |f| %>
<%= render :partial => 'form', :locals => { :f => f} %>
<% end %>

<%= link_to "取消新增", useradmin_products_path %>