<% if @buyrecords.length > 0 %>

<table>
	<tr>
		<th>日期</th><th>訂單編號</th><th>狀態</th>
	</tr>
	<% @buyrecords.each do |buyrecord| %>
	<tr>
		<td><%= buyrecord.created_at.strftime("%Y-%m-%d %H:%M") %></td>
		<td><%= link_to buyrecord.ordernum, "#" %></td>
		<td><%= buyrecord.status %></td>
	</tr>
	<% end %>
</table>

<% else %>

<p>沒有任何購買記錄。</p>

<% end %>