<% if @products.length > 0 %>
<div>過濾：商品名稱/地區/價格</div>
<div>排序：金額/上架時間</div>
<table>
	<tr>
		<th>Name</th>
	</tr>
	<% @products.each do |product| %>
	<tr>
		<td><%= link_to product.name, product_path(product) %></td>
	</tr>
	<% end %>
</table>

<% else %>

<p>沒有任何上架商品。</p>

<% end %>