.space { height: 50px; }
.paragraphContainer { border-width: 1px; border-style: solid; margin: 5px;}

.editorList { padding-left: 0px;}
.editorList li{ display: inline-block; padding: 5px;}
.editorContent .editorChild{ display: none;}
.editorContent .active{ display: block;}


.action{ border-width: 1px; border-style: solid; padding: 5px; width: 50px; text-align: center;}